* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../assets/images/background-pattern-mobile.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: hsl(275, 100%, 97%);
  min-height: 120vh;
  display: grid;
  place-items: center;
  font-family: "Work Sans", sans-serif;
}

.card {
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  width: 280px;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0 0 5px hsl(292, 42%, 14%);
  gap: 20px;
}

.card-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.card-title-starLogo {
  width: 18px;
}

.card-title-faq {
  color: hsl(292, 42%, 14%);
  font-size: 1.4rem;
}

.card-faq-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.card-faq-item {
  color: hsl(292, 42%, 14%);
  font-weight: bold;
}

.card-faq-question {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-faq-question-title {
  font-size: 0.85rem;
  width: 22ch;
  cursor: pointer;
  transition: all 0.3s;
}

.card-faq-question-title:hover {
  color: hsl(276, 100%, 60%);
}

.card-faq-sign {
  width: 28px;
}

.card-faq-answer {
  color: hsl(292, 16%, 49%);
  font-weight: 500;
  font-size: 0.7rem;
  margin-top: 25px;
  display: none;
}

.attribution {
  font-size: 0.7rem;
  font-weight: bold;
  text-align: center;
  color: hsl(292, 42%, 14%);
}
.attribution a {
  color: hsl(276, 100%, 60%);
}

@media (min-width: 767px) {
  body {
    background-image: url(../assets/images/background-pattern-desktop.svg);
  }

  .card {
    width: 450px;
    padding: 30px;
    border-radius: 10px;
  }

  .card-title-starLogo {
    width: 30px;
  }

  .card-title-faq {
    font-size: 1.8rem;
  }

  .card-faq-question-title {
    font-size: 1rem;
    width: 30ch;
  }

  .card-faq-sign {
    width: 35px;
  }

  .card-faq-answer {
    font-size: 0.85rem;
  }
}
